*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #222;
}

li, a {
    font-weight: 500;
    font-size: 18px;
    color: #e0e0e0;
    text-decoration: none;
    list-style-type: none;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo {
    width: 100px;
    cursor: pointer;
    margin-right: auto;
    border-radius: 50%;
}

.nav_link {
    list-style: none;
    display: flex;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;
    letter-spacing: 1.5px;
}

.nav_link li a {
    transition: all 0.3s ease 0s;
}


.nav_link li a:hover {
    color: #424549;
}


#sobre{
    padding: 10px 5%;
    margin-top: 62px;
    margin-right: 150px;
    margin-left: 150px;
    display: flex;
}

.foto img{
    margin-top: 100px;
    width: 399px;
    border-radius: 50%;
    border-style: solid;
    border-color: #86BCE8;
}

.sobre{
    padding: 10px;
    margin-top: 125px;
    margin-left: 30%;
}

.sobre img{
    width: 18px;
    height: 20px;
    filter: invert(75%) sepia(41%) saturate(668%) hue-rotate(178deg) brightness(93%) contrast(96%);
    margin-right: 15px;
}

.sobre h1{
    color: #86BCE8;
    font-size: 54px;
    margin-right: 50px;
    font-weight: 100;
    letter-spacing: 1px;
}

.sobre ul{
    margin-top: 48px;
}

.sobre li{
    margin-top: 24px;
}

.sobre a{
    font-weight: 100;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 1px;
}

.sobre a:hover {
    color: #86BCE8;
}


body .container .card:nth-child(2) .box .content a {